.orders {
    padding-bottom: 160px;
  h2 {
    max-width: 530px;
    color: #fff;
    font-size: 50px;
    font-weight: 500;
    line-height: 55px;
    margin-bottom: 30px;
  }

  ul {
    display: flex;
    gap: 20px;
  }
}
