.section {
  padding-top: 30px;
  padding-bottom: 140px;
}

.inner {
  h2 {
    max-width: 640px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 40px;
  }
}
.menu {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 36px 16px;
}
